.fieldset {
	.grid {
		width: 100%;

		th,
		td {
			text-align: left;
			padding: $margin-innerfield;

			.form-group {
				margin: 0;
				width: 100%;
				padding: 0;
			}

			input.field--text {
				display: block;
				width: 100%;
			}

			label {
				display: none;
			}
		}

		th {
			border-bottom: 1px solid var(--vscode-menu-background);
		}

		td, th {
			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}
